#clear{
    background-image: url("https://wallpaperplay.com/walls/full/e/c/1/4849.jpg");
}

#few-clouds{
    background-image: url("https://www.barraques.cat/pngfile/big/14-142373_clouds-wallpaper-hd-blue-sky-with-few-clouds.jpg");
}

#broken-clouds{
    background-image: url("https://jooinn.com/images/muggy-clouds-1.png");
}

#scattered-clouds{
    background-image: url("https://jooinn.com/images/clouds-scattering-1.jpg");
}